:root {
    --sky-blue: #55DAE9;
    --logo-cl: #2F90DD;
    --title-cl: #2075bb;  
    --white: #ffffff;
    --white-bg: #F1F5F8;
    --sky-blue-bg: #effcfe;
    --text-font: #9AA0A6;
    --text-font-second: #0F1C49;
    --color-input: #AFB1B8; 
    --icon-cl: #0e95a5;
}